* {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 30px;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 600px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;  
    font-family: 'Shrikhand', cursive;
}

.menu > ul > li {
    display: inline-block;
    padding-right: 35px;
}

.menu > ul > li > a {
    color: #FEF5FF;
    -webkit-text-stroke: 1px #511B5F;
    font-size: 25px;
}

.login > a{
    background-color: #511B5F;
    border-radius: 40px;
    padding: 5px 30px;
    cursor: pointer; /*login글씨 클릭범위 수정*/
    color:#FEF5FF;
    font-size: 15px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 100px;
    text-align: center;
}

.main > img {
    width: 420px; /*position을 relative? absolute?*/
    float: right;
}

.main-text {
    min-width: 450px;
}

.main-text > h1 {
    margin-bottom: 30px;
}

.main-text > h1 > a {
    font-family: 'Lily Script One', cursive;
    font-size: 96px;
    color: #511B5F;
    text-shadow: 0.5px 1px 1px #AAAAAA;
}

.main-text > p {
    font-family: 'Pangolin', cursive;
}

.fa-solid {
    display: none;
}

/* @media(max-width: 700px) {
    .main {
        margin-top: 100px;
    }

    .login {
        display: none;
    }

    .main-text > h1 > a {
        font-size: 60px;
        align-items: center;
    }

    .main-text > p {
        font-size: 12px;
    }

    .main > img {
        display: none;
    }

    .menu ul li {
        display: block;
    }

    .menu {
        position: absolute;
        top: 0;
        left: -200px;
        background: #511B5F;
        height: 100vh;
        width: 200px;
        z-index: 2;
        transition: 1s;
    }
} */

/* ----- catalogue ----- */

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.catalogue {
    background-image: linear-gradient(rgba(54, 10, 52, 0.7), rgba(54, 10, 52, 0.7)),
    url(./image/valentine-candy.jpg);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 70px;
}

.catalogue > h1 {
    color: #FEF5FF;
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

.catalogue-col {
    background-color: #FEF5FF;
    min-width: 380px;
    height: 230px;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    font-family: 'Pangolin', cursive;
}

.catalogue-col > img {
    height: 130px;
    margin: 10px;
}

.catalogue-col > h3 {
    margin-bottom: 5px;
}