* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header {
    height: 600px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
    font-family: 'Shrikhand', cursive;
}

.menu > ul > li {
    display: inline-block;
    padding-right: 35px;
}

.menu > ul > li > a {
    color: #FEF5FF;
    -webkit-text-stroke: 1px #511B5F;
    font-size: 25px;
}

.login > a{
    background-color: #511B5F;
    border-radius: 40px;
    padding: 5px 30px;
    cursor: pointer;
    color:#FEF5FF;
    font-size: 15px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 100px;
    text-align: center;
    
}

.title > img {
    width: 420px; /*positionì„ relative? absolute?*/
    float: right;
    position: relative;
    animation: fadeInUp 1.8s;
}

.title-text {
    min-width: 450px;
    
    position: relative;
    animation: fadeInUp 2s;
}

.title-text > h1 {
    margin-bottom: 30px;
}

.title-text > h1 > a {
    font-family: 'Lily Script One', cursive;
    font-size: 96px;
    color: #511B5F;
    text-shadow: 0.5px 1px 1px #AAAAAA;
}

.title-text > p {
    font-family: 'Pangolin', cursive;
}

.fa-solid {
    display: none;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@media(max-width: 700px) {
    .title {
        margin-top: 100px;
    }

    .login {
        display: none;
    }

    .title-text > h1 > a {
        font-size: 60px;
        align-items: center;
    }
    .title-text > p {
        font-size: 12px;
    }

    .title > img {
        display: none;
    }

    .menu ul li {
        display: block;
        margin-left: 20px;
        margin-top: 30px;
    }

    .menu {
        position: absolute;
        top: 0;
        left: -200px;
        background: #511B5F;
        height: 100vh;
        width: 200px;
        z-index: 2;
        transition: 1s;
    }

    nav .fa-solid {
        display: block;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        color: #511B5F;
    }

    nav .fa-xmark {
        color: #FEF5FF;
        float: right;
    }
}